*{padding: 0;margin: 0;}
html,body{min-height: 100%;}
body{background-image: radial-gradient(mintcream 0%, lightgray 100%);;}
.sont{
	margin: auto;
	width: 100%;
	height: 100%;
	position: absolute;
	perspective: 1000px;
}

.sontr{
	position: absolute;
	height: 200px;
	width: 200px;
	transform-style:preserve-3d;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	margin:auto;
}
.sontr:hover{
	animation-play-state: paused;
}

.sontr figure{
	width: 200px;
	height: 200px;
	position: absolute;
	opacity: 0.6;
}

img{width: 100%;height: 100%;filter: 0(1);
            cursor: pointer;
            transition:all 1s ease 0s;}
img:hover{
            filter: grayscale(0);
            transform: scale(1.2,1.2);
        }

.sontr figure:nth-child(1) { transform:  translateZ(6.3em);}
.sontr figure:nth-child(2) { transform:  translateZ(-6.3em);}
.sontr figure:nth-child(3) { transform: rotateY(-90deg) translateZ(6.3em);}
.sontr figure:nth-child(4) { transform: rotateY(90deg) translateZ(6.3em);}
.sontr figure:nth-child(5) { transform: rotateX(90deg) translateZ(6.3em);}
.sontr figure:nth-child(6) { transform: rotateX(-90deg) translateZ(6.3em);}
.sontr figure:nth-child(7) { transform:  translateZ(15em);}
.sontr figure:nth-child(8) { transform:  translateZ(-15em);}
.sontr figure:nth-child(9) { transform: rotateY(-90deg) translateZ(15em);}
.sontr figure:nth-child(10) { transform: rotateY(90deg) translateZ(15em);}
.sontr figure:nth-child(11) { transform: rotateX(90deg) translateZ(15em);}
.sontr figure:nth-child(12) { transform: rotateX(-90deg) translateZ(15em);}

.anmid{
	animation: sonl 10s ease-in-out infinite;
}

@keyframes sonl{
	0%{transform: translateZ(-6.3em) rotateX(0) rotateY(0);}
	100%{transform: translateZ(-6.3em) rotateX(360deg) rotateY(360deg);}
}